@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
}

html, body {
  height: 100%;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--foreground);
  background: var(--background);
  font-family: 'Work Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
.swagger-ui{
  padding: 10px !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
