@import 'tailwindcss';
@config '../tailwind.config.mjs';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  height: 100%;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--foreground);
  background: var(--background);
  font-family: 'Work Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.swagger-ui {
  padding: 10px !important;
}

.MuiButtonBase-root {
  font-family: inherit !important;
}

/* Custom Checkbox: Transparent background, primary icon */
.checkbox-transparent-primary {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent !important;
  border: 1.5px solid #d1d5db;
  /* gray-300 */
  border-radius: 0.25rem;
  cursor: pointer;
  position: relative;
  width: 1.25rem;
  /* w-5 */
  height: 1.25rem;
  /* h-5 */
}

.checkbox-transparent-primary:checked {
  border-color: #8dc8a1 !important;
  /* primary */
}

.checkbox-transparent-primary:checked::after {
  content: '';
  position: absolute;
  top: 15%;
  left: 35%;
  width: 25%;
  height: 50%;
  border: solid #8dc8a1;
  /* primary */
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}